.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: #282c34;
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.light-link{
  color: lightblue;
}
.leaflet-container {
  width: 90%;
  height: 700px;
  margin: auto;
}

.mi-0 {
  background-color: #dcd6d6;
  color:#dcd6d6;
  font-weight: bold; 
}

.mi-1 {
  color:#fffff0; 
  background-color: #00441b;
  font-weight: bold;
}

.mi-2 {
  color: #fffff0;
  background-color: #006d2c;
  font-weight: bold;
}

.mi-3 {
  color: #fffff0;
  background-color: #41ab5d;
  font-weight: bold;
}

.mi-4 {
  color: #505050;
  background-color: #74c476;
  font-weight: bold;
}

.mi-5 {
  color: #505050;
  background-color: #c7e9c0; 
  font-weight: bold;

}
.td-1 {
  color:#fffff0; 
  background-color: #67000d;
  font-weight: bold;
}

.td-2 {
  color: #fffff0;
  background-color: #cb181d;
  font-weight: bold;
}

.td-3 {
  color: #fffff0;
  background-color: #fb6a4a;
  font-weight: bold;
}

.td-4 {
  color: #505050;
  background-color: #fcbba1;
  font-weight: bold;
}

.td-5 {
  color: #505050;
  background-color: #fee0d2; 
  font-weight: bold;
}

.dpp-1 {
  color:#fffff0; 
  background-color: #993404;
  font-weight: bold;
}

.dpp-2 {
  color: #fffff0;
  background-color: #d95f0e;
  font-weight: bold;
}

.dpp-3 {
  color: #fffff0;
  background-color: #fe9929;
  font-weight: bold;
}

.dpp-4 {
  color: #505050;
  background-color: #fed98e;
  font-weight: bold;
}

.dpp-5 {
  color: #505050;
  background-color: #ffefb5; 
  font-weight: bold;
}

.map1-tooltip {
  text-align: left;
  width: 180px;
  opacity: 1;
}

.tooltip-header {
  padding-left: 10px;
  padding-top:10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.tooltip-text {
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top: 0px;
}

.leaflet-control{
  text-align: left;
  padding-left:5px;
}

.map-legend{
  width: 190px;
  text-align: left;
}
.legend-entry{
  display: inline-flex;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.legend-box{
  height: 20px;
  width: 20px;
  margin-right: 40px
}

.map-controls{
  display: inline-flex;
}

.tract-map{
  width: 80%;
  max-width: 1400px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.flex-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 800px;
  padding-top:30px;
  margin-bottom: 40px;
}

.dark{
  background-color: #282c34;
  color: white;
  width: 80%;
  margin:auto;
  padding-bottom: 20px;;
}

.donor-map{
  width: 40%;
  min-width: 300px;
  max-height: 500px;;
}

.donor-table{
  width: 50%;
  max-width: 1000px;
  min-width: 400px;
  text-align: left;
}

.tract-info {
  width:100%;
  min-width:100px;
  vertical-align: auto;
}
th,
    td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;

      :last-child {
        border-right: 0;
      }
    }

.section-header{
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.blurb{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: normal;
  width: 40%;
  min-width: 500px;
  margin: auto;
  text-align: left;
  padding-bottom: 30px;
}
.spacer {
  height: 20px;
}

.quintileBar{
  padding-bottom: 50px;
}

.legend{
  font-size: 10px;
  font-weight: lighter;
}

.percent-label{
  font-size: 10px;
  background-color: #fff;
}